@import url(https://fonts.googleapis.com/css?family=Inter:regular,700);

$fontfamily: "Inter", sans-serif;

@import "_nullstyle";

body {
	//height: 100%;
	width: 100%;
	font-family: $fontfamily;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.20) 47.62%);
	color: black;
	overflow-wrap: anywhere;
}

.container {
	max-width: 520px;
	margin: 0 auto;
	padding: 0 10px;
}
.header {
	margin-top: 115px;

	&__title {
		margin-bottom: 66px;
		text-align: center;
		font-size: 40px;
		font-weight: 700;
		line-height: 48px;
	}
}

.activity {

	&__idea {
		margin-bottom: 94px;
		text-align: center;
		font-size: 40px;
		line-height: 48px;
	}

	&__go {
		width: 100%;
		padding: 10px;
		background-color: #0094FF;
		text-align: center;
		font-size: 32px;
		line-height: 40px;
		color: white;
	}
}
	
.footer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
	padding: 15px;
	gap: 15px 50px;
	font-size: 16px;
	line-height: 20px;
	color: rgba(39, 1, 1, 0.7);
}